@model sinemaotomasyonu.Models.Filmler

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}



<h3>Silmek istediğinize emin misiniz?</h3>
<div>
    <h4>Filmler</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.filmAdi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.filmAdi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.filmKonu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.filmKonu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.filmUcret)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.filmUcret)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mekan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mekan.mekanID)
        </dd class>
    </dl>
    <br />
    <form asp-action="Delete">
        <input type="hidden" asp-for="filmID" />
        <input type="submit" value="Sil" class="btn btn-danger" /> |
        <a asp-action="Index">Listeye geri dön..</a>
    </form>
</div>
