@model IEnumerable<sinemaotomasyonu.Models.Filmler>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h1>Film Listesi</h1>

<p>
    <a asp-action="Create">Oluştur</a>
</p>
<br />
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.filmAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.filmKonu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.filmUcret)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mekan.mekanID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.filmAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.filmKonu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.filmUcret)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mekan.mekanID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.filmID">Düzenle</a> |                
                <a asp-action="Delete" asp-route-id="@item.filmID">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>

